#message-center{
	width: 960px;
}

#message-center .messages{
	font-size: 70%;
	width: 300px;
	height: 500px;
	overflow: hidden;
	float: left;
}

#message-center #messages{
	width: 300px;
	height: 438px;
	overflow-x: hidden;
	overflow-y: auto;
}

#message-center select.view{
	width:290px;
}

#message-center #messages .el{
	position: relative;
	width: 280px;
	overflow-x: hidden;
	margin: 0px;
	padding: 10px;
	border-bottom: 1px solid rgb(212, 215, 228);
	white-space: nowrap;
	-webkit-transition: background-color 250ms linear;
    -moz-transition: background-color 250ms linear;
    -o-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
    background-color: transparent;
    cursor:pointer;
}

#message-center #messages .el:hover{
	background-color: rgb(212, 215, 228);
}

#message-center #messages .el.active{
	background-color: rgb(8, 18, 60);
	color:white;
}

#message-container{
	margin-left:60px;
	width:600px;
	height:500px;
	float:left;
	position:relative;
	overflow:hidden;
}

#message{
	position:absolute;
	top:0px;
	left:0px;
	width:600px;
	height:500px;
	overflow:auto;
}

#message-inner{
	border-bottom:1px solid rgb(212, 215, 228);
	margin-bottom:25px;
}

#message-actions{
	position:absolute;
	top:5px;right:5px;
}

.message-txt{
	max-width:600px;
}

.no-messages{
	margin-top:10px;
	text-align:center;
	font-style:italic;
}

#new-messages.hidden{
	visibility:hidden;
	position:absolute;
}

#new-messages.show{
	position:relative;
	visibility:inherit;
}

#new-messages{
	display:inline-block;
	float:right;
	margin-left:5px;
	font-size:12px;
	background-color:red;
	padding:2px 5px 1px;
	border:2px solid white;
	border-radius:10px;
	font-weight:bold;
}