@import url(https://fonts.googleapis.com/css?family=Bree+Serif|Droid+Sans:400,700);

*:
{
	-webkit-text-size-adjust: none;
}

*:focus {
    outline: none;
}

html, body{
	height:100%;
}

body{
	margin:0px;
	padding:0px;
	background:rgb(250,251,252);
	font-family:'Droid Sans',sans-serif;
	font-size:18px;
	color:rgb(2,5,15);
}

img{
	border:none;
}

h1{
	display:inline-block;
	font-family:'Bree Serif',serif;
	font-weight:'normal';
	font-size:64px;
	margin-top:0px;
	margin-bottom:0.2em;
	color:rgb(83,95,146);
}

.action-icon{
	cursor:pointer;
	-webkit-transition: opacity 250ms linear;
    -moz-transition: opacity 250ms linear;
    -o-transition: opacity 250ms linear;
    -ms-transition: opacity 250ms linear;
    transition: opacity 250ms linear;
	opacity:0.5;
}

.action-icon:hover{
	opacity:1;
}

h1 img.action-icon{
	float:right; margin:47px 0px 0px 15px;
}

h2{
	font-family:'Bree Serif',serif;
	font-weight:'normal';
	font-size:48px;
	margin:0px;
	color:rgb(8,18,60);
}

h3{
	font-family:'Bree Serif',serif;
	font-weight:'normal';
	font-size:36px;
	margin:0px;
}

p{
	margin-top:0px;
}

a.button{
	display:inline-block;
	text-decoration:none;
	margin:5px;
	padding:10px;
	font-family:'Droid',sans-serif;
	font-size:24px;
	border-radius:10px;
	border:none;
	-webkit-transition: background-color 250ms linear,color 250ms linear;
    -moz-transition: background-color 250ms linear,color 250ms linear;
    -o-transition: background-color 250ms linear,color 250ms linear;
    -ms-transition: background-color 250ms linear,color 250ms linear;
    transition: background-color 250ms linear,color 250ms linear;
	color:rgb(250,251,252);
	background-color:rgb(8,16,60);
	cursor:pointer;
	padding:10px 20px;
}

a.button.action{
	font-size:1rem;
	border-radius:5px;
	padding:5px 10px;
	background-color:rgb(212,215,228);
	color:rgb(83,95,146);
}

a.button:hover, a.button.action:hover{
	background-color:rgb(83,95,146);
	color:rgb(250,251,252);
}

blockquote {
	font-size: 1.5rem;
	font-style: italic;
	max-width: 480px;
	margin: 0.25em 0;
	margin-left:3em;
	padding: 0.25em 40px;
	line-height: 1.45;
	position: relative;
	color: rgb(83,95,146);
}

blockquote:before {
	display: block;
	content: "\201C";
	font-size: 5rem;
	position: absolute;
	left: -20px;
	top: -20px;
	color: rgb(8,18,60);
}

blockquote cite {
	color: rgb(169,175,200);
	font-size: 0.8rem;
	display: block;
	margin-top: 5px;
}
 
blockquote cite:before {
	content: "\2014 \2009";
}

.center{
	text-align:center;
}
.top > * {
	vertical-align:top;
}

.form-box{
	display:inline-block;
	margin:75px 25px 25px 25px;
	text-align:center;
	border-radius:25px;
	padding:50px 25px 25px 25px;
	background:rgb(212,215,228);
}

.form-box h1{
	font-size:48px;
	float:left;
	margin-left:20px;
	margin-top:-88px;
}

textarea{
	min-width:300px;font-size:18px;min-height:72px
}

input[type=text],input[type=password],input[type=submit],input[type=button],input[type=file],textarea,select{
	margin:5px;
	padding:10px;
	font-family:'Droid',sans-serif;
	font-size:24px;
	border-radius:10px;
	border:none;
	-webkit-transition: background-color 250ms linear;
    -moz-transition: background-color 250ms linear;
    -o-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
}

input[type=text],input[type=password],textarea,select{
	background:rgb(237, 239, 244);
	border:1px solid rgb(169, 175, 200);
}

input[type=text]:focus,input[type=password]:focus,textarea:focus,select:focus{
	background:white;
}

input[type=submit],input[type=button]{
	color:rgb(250,251,252);
	background:rgb(8,16,60);
	cursor:pointer;
	padding:10px 20px;
}

input[type=submit]{
	margin-top:1.5em;
	width:100%;
}

input[type=button].submit{
	width:100%;
}

input.grey{
	background:rgb(130,130,130);
}

input.red{
	background:rgb(255,0,0);
}

input[type=submit]:hover,input[type=button]:hover{
	background:rgb(83,95,146);
}

input[type=checkbox],input[type=radio]{
	position:relative;
	top:-3px;
	vertical-align:bottom;
	width:1.5em;
	height:1.5em;
}

label{
	font-size:24px;
	color: rgb(83,95,146);
	display:block;
	font-style:normal;
	margin:5px;
}

::-webkit-input-placeholder {
	font-style:italic;
}

::-moz-placeholder {
	font-style:italic;
}

:-ms-input-placeholder {
	font-style:italic;
}

input:-moz-placeholder {
	font-style:italic;
}

.search-big{
	width:80%;
}

.search-big input[type=text]{
	width: -moz-calc(100% - 50px);
	width: -webkit-calc(100% - 50px);
	width: -o-calc(100% - 50px);
	width: calc(100% - 50px);
}

.search-big label,.search-small label{
	position:relative;
}

.search-big input[type=submit],.search-small input[type=submit]{
	margin:0px;
	padding:0px;
	position:absolute;
	width:36px;
	height:36px;
	top:12px;
	right:25px;
	background-color:transparent;
	color:transparent;
	background:url('/ututor/img/search-big.png');
	cursor:pointer;
	-webkit-transition: opacity 250ms linear;
    -moz-transition: opacity 250ms linear;
    -o-transition: opacity 250ms linear;
    -ms-transition: opacity 250ms linear;
    transition: opacity 250ms linear;
	opacity:0.5;
}

.search-small input[type=submit]{
	top:8px;
}

.search-big input[type=submit]:hover,.search-small input[type=submit]:hover{
	opacity:1;
}

.search-small{
	width:350px;
	float:left;
	margin:6px 0px 0px 305px;
}

.search-small label{
	width:100%;
}

.search-small input{
	margin:0px;
	width:90%;
}

.clear{
	clear:both;
}

#header-container{
	position:relative;
	width:100%;
	background:rgb(212, 215, 228);
	height:75px;
	z-index:10;
}

#content-container{
	padding:50px;
	position:relative;
	width:960px;
	overflow-x:hidden;
	min-height: -moz-calc(100% - 125px);
	min-height: -webkit-calc(100% - 125px);
	min-height: -o-calc(100% - 125px);
	min-height: calc(100% - 125px);
	margin: 0 auto;
}

#footer-container{
	position:relative;
	width:100%;
	height:50px;
	background-color:rgb(221,221,221);
}

#header-inner, #footer-inner{
	position:relative;
	width: 960px;
	margin: 0 auto;
}

#footer-inner{
	text-align:right;
	color: rgb(144,144,144);
	font-size: 0.8rem;
	padding:18px 5px;
}

#logo{
	position:absolute;
	top:5px;
	left:5px;
}

#header-actions{
	margin-top:8px;
	float:right;
}

.form-box .error{
	font-size:12px;
	font-weight:bold;
	color:rgb(255,0,0);
}

div.exception{
	font-weight:bold;
	color:rgb(255,0,0);
	margin-bottom:15px;
}

img.profile-picture{
	max-width:350px;
	max-height:350px;
}

.hidden-container{
	height:1px;
	overflow:hidden;
}

.profile-data div.profile-picture{
	float:right;
	margin:0px 0px 0px 30px;
}

.float-left{
	float:left;
}

.table{
	display:table;
}

.row{
	display:table-row;
}

.cell{
	display:table-cell;
}

.hashMap .cell{
	padding:10px;
	vertical-align:bottom;
}

.hashMap .key{
	font-size:12px;
	padding-bottom:11px;
}

.hashMap .key.multiline{
	vertical-align:top;
}

.hashMap .value{
	font-weight:bold;
}

.hashMap .value.multiline{
	white-space: pre-wrap;
	font-weight: normal;
}

.pre{
	white-space: pre-wrap;
}

.hashMap .icon{
	padding:0px;
	float:right;
	margin:4px 0px 0px 15px;
}

.list .cell{
	vertical-align:middle;
	padding:10px;
}

.list .header{
	font-weight:bold;
}

.list .icon{
	margin:0px;
	padding:0px;
}

.private{
	font-weight:normal;
	font-style:italic;
	color:rgba(2,5,15,0.5);
	font-size:12px;
}

.search-result{
	display:table;
	width:100%;
}

.search-result .item{
	display:table-row;
	-webkit-transition: background-color 250ms linear;
    -moz-transition: background-color 250ms linear;
    -o-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
    color:rgb(8,18,60);
    background-color:rgb(250,251,252);
    cursor:pointer;
}

.search-result .item:hover{
    background-color:rgb(212, 215, 228);
}

.search-result .cell{
	display:table-cell;
	vertical-align:top;
	padding:15px;
}

.search-result .picture{
	width:200px;
}

.search-result .picture img{
	max-width:150px;
	max-width:150px;
	border-radius:75px;
}

.search-result .lecture{
	font-family:'Bree Serif',serif;
	font-weight:'normal';
	font-size:36px;
	max-width:600px;
	line-height:36px;
	margin:0px;
	float:left;
}

.search-result .grade{
	font-family:'Bree Serif',serif;
	font-weight:'normal';
	font-size:36px;
	line-height:36px;
	margin:0px;
	float:right;
}

.search-result .tutor{
	font-size:24px;
	line-height:24px;
	float:left;
	max-width:580px;
}

.search-result .price{
	font-size:24px;
	line-height:24px;
	float:right;
}

.search-result .data .line{
	margin-bottom:15px;	
}

.pre{
	white-space: pre;
}