.table{
	display:table;
}

.row{
	display:table-row;
}

.table.striped .row:nth-child(even){
	background-color:rgb(233, 235, 241);
}

.row.unstriped{
	background-color:transparent;
}

.cell{
	display:table-cell;
}

.mailHeader .cell{
	padding:5px;
	vertical-align:bottom;
}

.mailHeader .key{
	font-size:12px;
	padding-bottom:6px;
}

.hashMap .cell{
	padding:10px;
	vertical-align:bottom;
}

.hashMap .key{
	font-size:12px;
	padding-bottom:11px;
}

.hashMap .key.multiline{
	vertical-align:top;
	padding-top:15px;
}

.hashMap .value{
	font-weight:bold;
}

.hashMap .value.multiline{
	font-weight: normal;
}

.hashMap .icon{
	padding:0px;
	float:right;
	margin:4px 0px 0px 15px;
}

.list .cell{
	vertical-align:middle;
	padding:10px;
}

.list .header{
	font-weight:bold;
}

.list .icon{
	margin:0px;
	padding:0px;
}

.search-result{
	display:table;
	width:100%;
}

.search-result .item{
	display:table-row;
	-webkit-transition: background-color 250ms linear;
    -moz-transition: background-color 250ms linear;
    -o-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
    color:rgb(8,18,60);
    background-color:rgb(250,251,252);
    cursor:pointer;
}

.search-result .item:hover{
    background-color:rgb(212, 215, 228);
}

.search-result .cell{
	display:table-cell;
	vertical-align:top;
	padding:15px;
}

.search-result .picture{
	width:200px;
}

.search-result .picture img{
	max-width:150px;
	max-width:150px;
	border-radius:75px;
}

.search-result .lecture{
	font-family:'Bree Serif',serif;
	font-weight:'normal';
	font-size:36px;
	max-width:600px;
	line-height:36px;
	margin:0px;
	float:left;
}

.search-result .grade{
	font-family:'Bree Serif',serif;
	font-weight:'normal';
	font-size:36px;
	line-height:36px;
	margin:0px;
	float:right;
}

.search-result .tutor{
	font-size:24px;
	line-height:24px;
	float:left;
	max-width:580px;
}

.search-result .price{
	font-size:24px;
	line-height:24px;
	float:right;
}

.search-result .data .line{
	margin-bottom:15px;	
}

.profile-data-table{
	max-width:560px;
	overflow:hidden;
}